In [8]:
import numpy as np
import pandas as pd
import seaborn as sns

In [9]:
dfsales = pd.read_csv("sales_082020.csv")

In [10]:
dfcur = pd.read_csv("currency_rates_082020_EUR.csv")

In [172]:
dfsales.head(5)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [28]:
dfcur.sample(20)

    currency       date        rate
58       NZD   8/9/2020    1.785000
77       CHF   8/8/2020    1.075550
10       GBP   8/1/2020    0.900185
185      TWD   8/6/2020   34.784400
130      MXN   8/1/2020   26.239400
150      NOK   8/1/2020   10.713900
109      ILS  8/10/2020    4.012750
136      MXN   8/7/2020   26.374850
182      TWD   8/3/2020   34.456300
119      PLN  8/10/2020    4.399960
205      CZK   8/6/2020   26.325700
172      MYR   8/3/2020    4.949700
199      HUF  8/10/2020  344.872500
96       DKK   8/7/2020    7.448150
153      NOK   8/4/2020   10.736700
125      THB   8/6/2020   36.906000
111      PLN   8/2/2020    4.424015
56       NZD   8/7/2020    1.786125
197      HUF   8/8/2020  346.200000
83       SEK   8/4/2020   10.301000

In [174]:
dfsales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [45]:
dfcur.sample(20)

    currency       date        rate
142      JPY 2020-08-03  124.704000
21       USD 2020-08-02    1.178035
42       CAD 2020-08-03    1.575375
32       AUD 2020-08-03    1.652380
9        EUR 2020-08-10    1.000000
89       SEK 2020-08-10   10.283100
25       USD 2020-08-06    1.187590
0        EUR 2020-08-01    1.000000
160      SGD 2020-08-01    1.619680
85       SEK 2020-08-06   10.321500
39       AUD 2020-08-10    1.640800
93       DKK 2020-08-04    7.449055
105      ILS 2020-08-06    4.032250
24       USD 2020-08-05    1.187255
185      TWD 2020-08-06   34.784400
54       NZD 2020-08-05    1.786040
131      MXN 2020-08-02   26.244750
133      MXN 2020-08-04   26.751450
179      MYR 2020-08-10    4.928100
15       GBP 2020-08-06    0.903835

In [13]:
# 1. How many rows in the sales dataset?
# 2. How many columns in the sales dataset?

dfsales.shape

(237671, 10)

In [27]:
# 3. What is the total number of sellers?

# dfsales.seller_id.value_counts()
# dfsales.seller_id.nunique()
# len(dfsales.seller_id.unique())
dfsales.seller_id.value_counts().count()

114227

In [40]:
# 4. What is the total value of sales in EUR?
# 1. yöntem

dfsales["date"] = pd.to_datetime(dfsales["date"])
dfcur["date"] = pd.to_datetime(dfcur["date"])

df = pd.merge(dfsales, dfcur, how='inner', on=['currency', 'date'])
df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935

In [41]:
df["sales_EU"] = df.price / df.rate

In [42]:
df.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,sales_EU
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [46]:
df.sales_EU.sum()

6471510.822498876

In [48]:
# 2. yöntem
df5 = dfsales.merge(dfcur, how = "left", on = ["currency","date"])

In [52]:
df5["EU_Sales"] = (1 / df5.rate)*df5.price

In [53]:
df5.EU_Sales.sum()

6471510.8224988775

In [63]:
# 5. Which brand has the highest number of purchases during the period?

# dfsales.brand.value_counts().head(1)
# dfsales.brand.mode()

# dfsales.groupby(["brand"]).apply(lambda x : len(x)).nlargest().index[0]

(
    df5
    .groupby('brand')
    .agg({'EU_Sales': 'sum'})
    .sort_values(by='EU_Sales', ascending=False)
    .index[0]
)

'Nike'

In [68]:
# yontem 5
df5.groupby("brand").EU_Sales.sum().sort_values(ascending=False).index[0]

'Nike'

In [286]:
# 6. How many items in the “Jewellery” category have no brand associated with them?

In [298]:
dff = dfsales.loc[dfsales.category=="Jewellery", "brand"].isnull().sum()
# bu yanlis sonuc. asil sordugu how many diffrent items kastediliyormus.

13525

In [311]:
dfsales[(dfsales['category']=="Jewellery") & (dfsales['brand'].isnull())]['product_code'].nunique()

10931

In [69]:
dfsales[(dfsales['category']=="Jewellery") & (dfsales['brand'].isnull())].nunique()

buyer_id           9664
buyer_country         9
seller_id          3915
seller_country        9
product_code      10931
category              1
brand                 0
currency              9
price              3380
date                  7
dtype: int64

In [313]:
dfsales[(dfsales['category']=="Jewellery") & (dfsales['brand'].isnull())].describe(include="O")

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,date
count,13525,13525,13525,13525,13525,13525,0,13525,13525
unique,9664,9,3915,9,10931,1,0,9,7
top,w3k61oeocr,GB,pzsiehl0,GB,fb59ug7bzkz5,Jewellery,NaN,GBP,2020-08-07
freq,13,6117,526,6385,177,13525,NaN,6387,2117

In [163]:
#  7. How many brands have between 35 and 55 transactions (inclusive)?
dff = (dfsales.groupby("brand")["brand"].count() >= 35) & (dfsales.groupby("brand")["brand"].count() <= 55)
dff.sum()

81

In [164]:
# or
((dfsales.brand.value_counts() >= 35) & (dfsales.brand.value_counts() <= 55)).sum()

81

In [70]:
# 3. yöntem
(dfsales.groupby('brand')['brand'].count().apply(lambda x: 34 < x < 56)).sum()

81

In [165]:
# 8. How many pairs of shoes were purchased by Australian (AU) buyers?

dfsales.loc[(dfsales.buyer_country == "AU") & (dfsales.category == "Shoes")]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
139,ex9bpqq8w6,AU,j3pkou10,US,2tzszjhssh03,Shoes,Skechers,USD,52.24,2020-08-08
539,uru4etz7e5,AU,1i84ez1k,AU,zzu9hpjsjx6o,Shoes,NaN,AUD,73.73,2020-08-09
5639,9fn32ae6a9,AU,arloo1le,GB,a2gdza98bia7,Shoes,Nike,GBP,75.27,2020-08-09
7117,40jm2mgsri,AU,toud3ymd,AU,so29y8tl6rvs,Shoes,Nike,AUD,55.03,2020-08-09
7118,ncxx01xn4j,AU,toud3ymd,AU,utn7clcp7j3n,Shoes,NaN,AUD,211.76,2020-08-03
...,...,...,...,...,...,...,...,...,...,...
236930,azmnowovd7,AU,xgse9ed3,AU,1xzq0f7a31bi,Shoes,NaN,AUD,85.48,2020-08-05
237075,i0loqi83nv,AU,f8ts15sr,AU,zvrlgzyse7j6,Shoes,NaN,AUD,34.01,2020-08-05
237495,86aw49gm0m,AU,seb5z7bo,AU,xeebt9i4gyo3,Shoes,NaN,AUD,85.69,2020-08-05
237497,pcd2mdsr3n,AU,agzes91a,AU,bvqweclvm8tx,Shoes,NaN,AUD,95.27,2020-08-06
237575,0s9ms8inq0,AU,zkon4br2,AU,srw1zpebx9zo,Shoes,Nike,AUD,180.12,2020-08-05

In [185]:
dfsales.loc[(dfsales.buyer_country == "AU") & (dfsales.category == "Shoes")].shape[0]

658

In [75]:
# 2. yöntem
(dfsales[dfsales["buyer_country"] == "AU"][["category"]] == "Shoes").sum()

category    658
dtype: int64

In [84]:
# 9. Which brand has the highest average transaction value?
# 1. yontem
df5.groupby("brand")[["EU_Sales"]].mean().sort_values("EU_Sales").tail(1)

          EU_Sales
brand
Goyard  338.926936

In [85]:
# 2 yontem
df5.groupby("brand")[["EU_Sales"]].mean().idxmax()

EU_Sales    Goyard
dtype: object

In [86]:
# 10. What is the total value of items purchased by GB buyers from GB sellers?

df5.loc[(df5.buyer_country == "GB") & (df5.seller_country == "GB"), "EU_Sales"].sum()

3526745.0331292334

In [170]:
# 11. What percentage of US sellers' transactions were purchased by US buyers?

dfsales.loc[(dfsales.seller_country == "US") & (dfsales.buyer_country == "US"), "price"].sum() / dfsales.loc[
    dfsales.seller_country == "US", "price"].sum()

0.9598216537130441

In [87]:
# 2. yontem

a = dfsales.loc[(dfsales.seller_country == "US") & (dfsales.buyer_country == "US"), "price"].sum()

b = dfsales.loc[dfsales.seller_country == "US", "price"].sum()

a/b

0.9598216537130441