Bu veritabanında product ve sale şemaları altında çeşitli tablolar oluşturulmuş. product şeması altında, category, brand ve product tabloları oluşturulmuş. sale şeması altında ise customer, store, staff, orders ve order_item tabloları oluşturulmuş. Bu tablolardaki kolonlar arasında birçok özel anahtar ve dış anahtar ilişkisi oluşturulmuş.

1. How many customers are in each city? Your solution should include the city name and the number of customers sorted from highest to lowest.

In [ ]:


SELECT city, COUNT(*) as num_customers
FROM sale.customer
GROUP BY city
ORDER BY num_customers DESC;




Bu sorgu, sale.customer tablosundaki city kolonunu gruplar ve her bir şehir için müşteri sayısını sayar. Sonuçlar num_customers adında bir alias ile döndürülür ve num_customers değerine göre sıralanır. Bu sorgu, istenilen şehir adlarını ve bu şehirlerdeki müşteri sayılarını en yüksekten en düşüğe doğru sıralı olarak gösterir.

2. Find the total product quantity of the orders. Your solution should include order ids and quantity of products.

In [ ]:
SELECT order_id, SUM(quantity) as total_quantity
FROM sale.order_item
GROUP BY order_id;

Bu sorgu, sale.order_item tablosundaki order_id kolonunu gruplar ve her bir sipariş için ürün miktarını toplar. Sonuçlar total_quantity adında bir alias ile döndürülür ve siparişlerin order_id değerlerine göre sıralanmaz. Bu sorgu, istenilen sipariş numaralarını ve bu siparişlerdeki toplam ürün miktarını gösterir.

3. Find the cheapest product id for each order id. Your solution should include order id, product id and list price sorted from highest to lowest.

In [ ]:
SELECT order_id, product_id, MIN(list_price) as cheapest_price
FROM sale.order_item
GROUP BY order_id, product_id
ORDER BY cheapest_price DESC;

Bu sorgu, sale.order_item tablosundaki order_id ve product_id kolonlarını gruplar ve her bir sipariş için en ucuz ürünün product_id değerini ve bu ürünün liste fiyatını seçer. Sonuçlar cheapest_price adında bir alias ile döndürülür ve cheapest_price değerine göre sıralanır. Bu sorgu, istenilen sipariş numaralarını, en ucuz ürünün product_id değerlerini ve bu ürünlerin liste fiyatlarını en yüksekten en düşüğe doğru sıralı olarak gösterir.

4. Find the total amount of each order. Your solution should include order id and total amount sorted from highest to lowest.

In [ ]:
SELECT order_id, SUM(list_price * quantity - discount) as total_amount
FROM sale.order_item
GROUP BY order_id
ORDER BY total_amount DESC;

Bu sorgu, sale.order_item tablosundaki order_id kolonunu gruplar ve her bir sipariş için ürünlerin toplam miktarını hesaplar. Bu miktar, ürünlerin liste fiyatının ürün miktarı ile çarpımından indirimlerin miktarı çıkarılarak hesaplanır. Sonuçlar total_amount adında bir alias ile döndürülür ve total_amount değerine göre sıralanır. Bu sorgu, istenilen sipariş numaralarını ve bu siparişlerin toplam miktarlarını en yüksekten en düşüğe doğru sıralı olarak gösterir.

5. Find the order id that has the maximum average product price. Your solution should include only one row with the order id and average product price

In [ ]:
SELECT order_id, AVG(list_price) as avg_price
FROM sale.order_item
GROUP BY order_id
HAVING AVG(list_price) = (SELECT MAX(avg_price) FROM
    (SELECT order_id, AVG(list_price) as avg_price
     FROM sale.order_item
     GROUP BY order_id) subquery);

Bu sorgu, önce sale.order_item tablosundaki order_id kolonunu gruplar ve her bir sipariş için ortalama ürün fiyatını hesaplar. Daha sonra, bu ortalama fiyatların maksimum değerini seçen bir alt sorgu kullanılarak, ortalama ürün fiyatı maksimum olan siparişin order_id değerini ve bu siparişin ortalama ürün fiyatını seçer. Bu sorgu, istenilen sipariş numarasını ve bu siparişin ortalama ürün fiyatını içeren tek bir satır döndürür.

Eğer ortalama ürün fiyatları aynı olan birden fazla sipariş varsa, bu sorgu bunların hepsini döndürebilir. Eğer sadece bir tanesini döndürmek

6. Write a query that displays brand_id, product_id and list_price sorted first by brand_id (in ascending order), and then by list_price  (in descending order).

In [ ]:
SELECT brand_id, product_id, list_price
FROM product.product
ORDER BY brand_id ASC, list_price DESC;

Bu sorgu, product.product tablosundaki brand_id, product_id ve list_price kolonlarını seçer ve brand_id değerine göre artan sırada ve list_price değerine göre azalan sırada sıralar. Bu sorgu, istenilen marka numaralarını, ürün numaralarını ve ürünlerin liste fiyatlarını sıralı olarak gösterir.

7. Write a query that displays brand_id, product_id and list_price, but this time sorted first by list_price (in descending order), and then by brand_id (in ascending order).

In [ ]:
SELECT brand_id, product_id, list_price
FROM product.product
ORDER BY list_price DESC, brand_id ASC;

Bu sorgu, product.product tablosundaki brand_id, product_id ve list_price kolonlarını seçer ve list_price değerine göre azalan sırada ve brand_id değerine göre artan sırada sıralar. Bu sorgu, istenilen marka numaralarını, ürün numaralarını ve ürünlerin liste fiyatlarını sıralı olarak gösterir.

8. Compare the results of these two queries above. How are the results different when you switch the column you sort on first? (Explain it in your own words.)

Önce brand_id değerine göre sıralayan sorgu ile önce list_price değerine göre sıralayan sorgunun sonuçları arasında, sıralama önceliği değiştirildiğinden dolayı farklılıklar olacaktır. Önce brand_id değerine göre sıralayan sorguda, önce brand_id değerine göre sıralama yapılır ve daha sonra list_price değerine göre sıralama yapılır. Bu nedenle, brand_id değerlerine göre sıralama yapılır ve eğer brand_id değerleri aynı ise list_price değerlerine göre sıralama yapılır. Önce list_price değerine göre sıralayan sorguda ise, önce list_price değerine göre sıralama yapılır ve daha sonra brand_id değerine göre sıralama yapılır. Bu nedenle, list_price değerlerine göre sıralama yapılır ve eğer list_price değerleri aynı ise brand_id değerlerine göre sıralama yapılır. Bu iki sorgunun sonuçları arasındaki farklılık, sıralama önceliği değiştirildiğinden dolayı ortaya çıkmaktadır.

9. Write a query to pull the first 10 rows and all columns from the product table that have a list_price greater than or equal to 3000.

In [ ]:
SELECT *
FROM product.product
WHERE list_price >= 3000
LIMIT 10;

Bu sorgu, product.product tablosundaki tüm kolonları seçer ve list_price değeri 3000 veya daha yüksek olan satırları seçer. Daha sonra, LIMIT komutu ile ilk 10 satır seçilir ve sonuçlar döndürülür. Bu sorgu, istenilen ürünlerin tüm bilgilerini içeren ilk 10 satırı gösterir.

10. Write a query to pull the first 5 rows and all columns from the product table that have a list_price less than 3000.

In [ ]:
SELECT *
FROM product.product
WHERE list_price < 3000
LIMIT 5;

Bu sorgu, product.product tablosundaki tüm kolonları seçer ve list_price değeri 3000'den düşük olan satırları seçer. Daha sonra, LIMIT komutu ile ilk 5 satır seçilir ve sonuçlar döndürülür. Bu sorgu, istenilen ürünlerin tüm bilgilerini içeren ilk 5 satırı gösterir.

11. Find all customer last names that start with 'B' and end with 's'.

In [ ]:
SELECT last_name
FROM sale.customer
WHERE last_name LIKE 'B%s';

Bu sorgu, sale.customer tablosundaki last_name kolonunu seçer ve last_name değerinin 'B' ile başladığı ve 's' ile bittiği satırları seçer. LIKE operatörü, veri tabanında benzer değerleri aramaya yarar. Bu sorgu, 'B' ile başlayıp 's' ile biten müşteri soyadlarını gösterir.

12. Use the customer table to find all information regarding customers whose address is Allen or Buffalo or Boston or Berkeley.

In [ ]:
SELECT *
FROM sale.customer
WHERE city IN ('Allen', 'Buffalo', 'Boston', 'Berkeley');

Bu sorgu, sale.customer tablosundaki tüm kolonları seçer ve müşteri şehirlerinin Allen, Buffalo, Boston veya Berkeley olduğu satırları seçer. IN operatörü, veri tabanındaki belirtilen değerlerden birine eşit olan değerleri aramaya yarar. Bu sorgu, istenilen müşterilerin tüm bilgilerini gösterir.